/* ////////// ///////////// start seting tags //////////////////////// */
body {
  height: 2000px;
  padding-top: 96px;
}

* ul {
  padding: 0;
}
/* ////////// ///////////// start seting tags //////////////////////// */

/* ////////// ///////////// start navbar //////////////////////// */
.bg-light {
  background-color: #f8f9fa !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
}
.navbar .navbar-brand {
  width: 130px;
  height: 80px;
}
.navbar .navbar-brand img {
  width: 100%;
  height: 100%;
}
.navbar-light .navbar-nav .nav-link {
  font-family: "Cairo", sans-serif;
  padding: 5px 10px !important;
  font-weight: 600;
}
/* ////////// ///////////// end navbar //////////////////////// */

/* ////////// ///////////// start navbar //////////////////////// */
.show_carosal {
  position: relative;
  height: 100vh;
  width: 100%;
}
.show_carosal .over {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(10, 16, 38, 0.5);
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.show_carosal .over .head {
  width: 100%;
  height: 100%;
  padding-top: 12%;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.show_carosal .over .head h2 {
  font-family: "Cairo", sans-serif;
  color: white;
  font-weight: 900;
  line-height: 1.4;
  font-size: 32px;
}
.show_carosal .over .head p {
  font-size: 15px;
  color: white;
  font-family: "Cairo", sans-serif;
}

.show_carosal .over .head .scroll_down {
  width: 75px;
  height: 75px;
  background: rgb(128, 128, 128, 0.4);
  position: relative;
  margin: 25px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show_carosal .over .head .scroll_down::after {
  content: "";
  width: 60%;
  height: 60%;
  position: absolute;
  border: 2px solid rgb(0, 0, 0, 0.4);
  animation: show_carosal 1.5s linear infinite;
  border-radius: 50%;
}
@keyframes show_carosal {
  0% {
    width: 60%;
    height: 60%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.show_carosal .over .head .scroll_down a {
  background: rgb(0, 0, 0, 0.6);
  width: 60%;
  height: 60%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.show_carosal .paitant,
.show_carosal .paitant div {
  height: 100%;
  width: 100%;
}

.show_carosal .paitant div.one {
  background-image: url("../images/carosal/carosal1.jpg");
}
.show_carosal .paitant div.tow {
  background-image: url("../images/carosal/carosal4.jpg");
}
.show_carosal .paitant div.three {
  background-image: url("../images/carosal/carosal3.jpg");
}
.show_carosal .paitant div {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/* ////////// ///////////// end navbar //////////////////////// */

.owl-theme .owl-dots .owl-dot.active span {
  background: #18d26e !important;
}
.owl-theme .owl-dots .owl-dot span {
  background: white !important;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  outline: none;
}
